# ------------------------------------------------
# 1. Dependências
node_modules/
package-lock.json # Opcional: Algumas empresas versionam, outras não. Se travar, tire essa linha.
yarn.lock

# ------------------------------------------------
# 2. Segurança & Ambiente 
.env
.env.test
.env.production
.env.local

# ------------------------------------------------
# 3. Logs & Debug 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# ------------------------------------------------
# 4. Uploads & Arquivos Gerados
*.exe
uploads/avatars/*
!uploads/avatars/.gitkeep

src/uploads/*
!src/uploads/.gitkeep

tmp/
temp/

# ------------------------------------------------
# 5. Sistema Operacional & Editores
.DS_Store       # Mac
Thumbs.db       # Windows
.vscode/        # Configurações locais do seu VS Code
.idea/          # WebStorm/IntelliJ
dist/
build/
coverage/       # Relatórios de testes